<!DOCTYPE html>
<html ng-app="APPLICATION">
<head>
    <meta charset="utf-8" />
    <title>AngularJS User Registration and Login Example & Tutorial</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link href="//cdn.rawgit.com/cornflourblue/angular-registration-login-example/master/app-content/app.css" rel="stylesheet" />
	
	<script src="scripts/jquery-3.1.1.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-route.min.js"></script>
    <script src="scripts/angular-cookies.min.js"></script>
</head>
<body>

	<div class="container">
		<div class="row">
			<br />
			<div class="col-md-8 col-md-offset-2">
				<div class="alert alert-success" ng-cloak ng-if="messageType === 'success'">
				  <strong>Success!</strong> {{messageText}}
				</div>

				<div class="alert alert-info" ng-cloak ng-if="messageType === 'info'">
				  <strong>Info!</strong> {{messageText}}
				</div>

				<div class="alert alert-warning" ng-cloak ng-if="messageType === 'warning'">
				  <strong>Warning!</strong> {{messageText}}
				</div>

				<div class="alert alert-danger" ng-cloak ng-if="messageType === 'danger'">
				  <strong>Danger!</strong> {{messageText}}
				</div>
				<div ng-view></div>
			</div>
		</div>
	</div>

    <script src="scripts/main.js"></script>
	<script src="scripts/common.factory.js"></script>
	<script src="scripts/login.controller.js"></script>
	<script src="scripts/profile.controller.js"></script>
</body>
</html>